@model OrganizationDto
@{
    ViewData["Title"] = "My Location Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper organization">
    <section class="content-header">
        <h1 class="head-title">
            @ViewData["Title"]
        </h1>
        <p class="head-description">
            Details on your location, its contact details and individual users. (Admins and above can access the Organisational Management area to add or edit branches downstream from your location).
        </p>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <div class="custom-tab-container">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 custom-tab-menu">
                        <div class="list-group">
                            <a href="#" class="list-group-item active text-center" id="location-details">
                                <h4>My Location’s Details</h4>
                            </a>
                            <a href="#" class="list-group-item text-center" id="location-users">
                                <h4>My Location’s Users</h4>
                            </a>
                            @*<a href="#" class="list-group-item text-center">
                                <h4>My Location Chart</h4>
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4>Organisation Chart</h4>
                            </a>*@
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 custom-tab">
                        <div class="custom-tab-content active">
                            <div class="box box-solid">
                                <div class="form-horizontal">
                                    <div class="box-header">
                                        <p>Fill in or edit the details for your location.</p>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-info" data-target="#organizationModal" data-toggle="modal"><i class="fa fa-home"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;"></label>
                                                <div class="col-sm-9">
                                                    @if (Model.FileUrl != "")
                                                    {
                                                        <img class="img-responsive" src="@Model.FileUrl" alt="">
                                                    }

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Organisation Name</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.OrganizationName</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Industry</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.Industry</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">PhoneNumber</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.AreaCode1Text @Model.PhoneNumber</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">PhoneNumber 2</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.AreaCode2Text @Model.PhoneNumber2</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Unit No.</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.UnitNo</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Street 1</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.StreetOne</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Street 2</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.StreetTwo</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">City</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.City</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">State/Province</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.StateProvince</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">PostCode/Zip</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.PostCodeZip</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Country</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.CountryName</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Organisation Size</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.OrganizationSizeText</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" style="font-weight:normal;">Organisation Type</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label">@Model.OrganizationTypeIDText</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-tab-content ">
                            <div class="box-header">
                                <p>Add or edit individual users at your location. Including user access levels and which IT platforms they can access.</p>
                            </div>
                            <div class="box-body">
                                <div class="box-tools m-b5">
                                    <button class="btn btn-info" data-target="#registerModal" data-toggle="modal"><i class="fa fa-plus"></i> Add User</button>
                                </div>
                                <table class="table table-responsive table-hover">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Organisation</th>
                                        <th></th>
                                    </tr>
                                    <tbody>
                                        @foreach (var item in ViewBag.branchUser)
                                        {
                                            <tr>
                                                <td>@item.FirstName @item.LastName</td>
                                                <td>@item.Email</td>
                                                <td>Admin</td>
                                                <td>@item.Organization.OrganizationName</td>
                                                <td>
                                                    <a asp-action="Edit" asp-controller="User" asp-route-identityid="@item.IdentityID" asp-route-r="2" class="btn btn-warning btn-sm">Edit</a>
                                                </td>
                                            </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="custom-tab-content ">
                            <div id="location-chart-container" class="bg-white"></div>
                        </div>
                        <div class="custom-tab-content ">
                            <div id="chart-container" class="bg-white"></div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

<div class="modal fade" id="organizationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Organisation</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form class="form-horizontal" id="org-form" asp-action="AddUpdate" asp-controller="Organization" enctype="multipart/form-data">
                        <input type="hidden" asp-for="OrganizationID" />
                        <input type="hidden" name="returnurl" value="MyLocation" />
                        <div class="mb-15">
                            <label asp-for="OrganizationName">Organisation Name</label>
                            <input type="text" class="form-control" asp-for="OrganizationName" />
                            <span asp-validation-for="OrganizationName" class="field-validation-error"></span>
                        </div>
                        <div class="mb-15">
                            <label asp-for="Industry">Industry</label>
                            <input type="text" class="form-control" asp-for="Industry" />
                            <span asp-validation-for="Industry" class="field-validation-error"></span>
                        </div>

                        <div class="mb-15">
                            <label asp-for="OrganizationSize">Organisation Size </label>
                            <select asp-items="@ViewBag.orgSizeList" asp-for="OrganizationSize" class="form-control"></select>
                            <span asp-validation-for="OrganizationSize" class="field-validation-error"></span>
                        </div>

                        <div class="row mb-15">
                            <div class="col-md-6">
                                <div class="row">
                                    <label asp-for="PhoneNumber" class="col-md-12">Phone Number</label>
                                    <div class="col-md-6">
                                        <select class="form-control" asp-for="AreaCode1" asp-items="@ViewBag.CountryCode"></select>
                                    </div>
                                    <div class="col-md-6 p-l0">
                                        <input type="text" class="form-control" asp-for="PhoneNumber" />
                                    </div>
                                </div>
                                <span asp-validation-for="PhoneNumber" class="field-validation-error"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label asp-for="PhoneNumber2" class="col-md-12">Secondary Phone Number</label>
                                    <div class="col-md-6">
                                        <select class="form-control" asp-for="AreaCode2" asp-items="@ViewBag.CountryCode"></select>
                                    </div>
                                    <div class="col-md-6 p-l0">
                                        <input type="text" class="form-control" asp-for="PhoneNumber2" />
                                    </div>
                                </div>
                                <span asp-validation-for="PhoneNumber2" class="field-validation-error"></span>
                            </div>
                        </div>

                        <fieldset class="mb-15">
                            <legend>Address</legend>
                            <div class="row mb-15">

                                <div class="col-md-12">
                                    <label>Unit No.</label>
                                    <input type="text" class="form-control" asp-for="UnitNo" />
                                    <span asp-validation-for="UnitNo" class="field-validation-error"></span>
                                </div>
                            </div>

                            <div class="row mb-15">
                                <div class="col-md-6">
                                    <label>Street 1</label>
                                    <input type="text" class="form-control" asp-for="StreetOne" />
                                    <span asp-validation-for="StreetOne" class="field-validation-error"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Street 2</label>
                                    <input type="text" class="form-control" asp-for="StreetTwo" />
                                    <span asp-validation-for="StreetTwo" class="field-validation-error"></span>
                                </div>
                            </div>

                            <div class="row mb-15">
                                <div class="col-md-6">
                                    <label>City</label>
                                    <input type="text" class="form-control" asp-for="City" />
                                    <span asp-validation-for="City" class="field-validation-error"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Zipcode</label>
                                    <input type="text" class="form-control" asp-for="PostCodeZip" />
                                    <span asp-validation-for="PostCodeZip" class="field-validation-error"></span>
                                </div>
                            </div>

                            <div class="row mb-15">
                                <div class="col-md-6">
                                    <label>State</label>
                                    <input type="text" class="form-control" asp-for="StateProvince" />
                                    <span asp-validation-for="StateProvince" class="field-validation-error"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Country</label>
                                    <select asp-items="@ViewBag.country" asp-for="CountryID" class="form-control"></select>
                                    <span asp-validation-for="CountryID" class="field-validation-error"></span>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row mb-15">
                            <div class="col-md-12">
                                <label>Organisation Image</label>
                                <input type="file" class="form-control" name="File" id="file" />
                                <input type="hidden" asp-for="CropImage" />
                            </div>
                        </div>
                        <div class="row mb-15 pull-right">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Save">
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-org-btn" data-dismiss="modal">Save</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Invite a User</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-12">
                    <form asp-route-returnUrl="/Dashboard/Index" method="post" id="register-form">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group has-feedback">
                            <input name="FirstName" class="form-control" placeholder="First name">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input name="LastName" class="form-control" placeholder="Last name">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input name="Email" class="form-control" placeholder="Email">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label asp-for="OrganizationID">Organization</label>
                            <select asp-items="@ViewBag.branch" asp-for="OrganizationID" class="form-control"></select>
                            <span asp-validation-for="OrganizationID" class="field-validation-error"></span>
                        </div>
                        @*<div class="form-group has-feedback">
                                <input asp-for="Password" class="form-control" placeholder="Password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Retype password">
                                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                            </div>*@

                        @*<div class="col-md-12">
                                <div class="checkbox icheck">
                                    <label>
                                        <input asp-for="TermsAndCondition"> I agree to the <a href="#">terms</a>
                                    </label>
                                </div>
                            </div>*@
                        <input type="submit" class="btn btn-primary" value="Send Invite"><i class="hide fa fa-spinner fa-pulse fa-2x fa-fw" style="position:absolute; color: #00c0ef;"></i>
                    </form>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var tab = getUrlParameter("tab");
            jQuery("#" + tab).trigger("click");
            /**
             * Chart Init
             */
            var data = {};
            jQuery.post("/Organization/GetChart", function (response) {
                data.children = [];

                if (response.parent != null) {
                    data.name = response.parent.organizationName;
                    data.title = response.parent.industry;
                    data.orgId = response.parent.organizationID;
                    data.orgType = response.parent.organizationTypeID;
                    data.className = "parentBranch parentOrg";

                }

                if (response.branch != null) {
                    var childData = getChildren(response.branch);
                    data.children = childData;

                }

                oc.init({ 'data': data });
            }, "json");

            var oc = $('#location-chart-container').orgchart({
                'data': data,
                'nodeContent': 'title',
                'zoom': true,
                'pan': true,
                'createNode': function ($node, dataList) {
                    if ($node.is('.drill-down')) {
                        var assoClass = dataList.className.match(/parentBranch/)[0];
                        var drillDownIcon = $('<i>', {
                            'class': 'fa fa-arrow-circle-down drill-icon',
                            'click': function () {
                                if (!$('#location-chart-container').find('.orgchart.' + assoClass).length) {
                                    console.log(data.children[0]);
                                    oc.init({ 'data': data.children[0] });
                                } else {
                                    $('#location-chart-container').find('.orgchart.' + assoClass).removeClass('hidden');
                                }
                            }
                        });

                    } else if ($node.is('.drill-up')) {
                        var assoClass = dataList.className.match(/asso-\w+/)[0];
                        var drillUpIcon = $('<i>', {
                            'class': 'fa fa-arrow-circle-up drill-icon',
                            'click': function () {
                                $('#location-chart-container').find('.orgchart:visible').addClass('hidden').end()
                                    .find('.drill-down.' + assoClass).closest('.orgchart').removeClass('hidden');
                            }
                        });
                    }

                    $node.append('<div class="control"></div>');

                    var edit = $('<a>', {
                        'class': 'fa fa-edit',
                        'href': '/Organization/EditBranch?orgid=' + dataList.orgId,
                        'click': function () {
                        }
                    });

                    var add = $('<a>', {
                        'class': 'fa fa-plus',
                        'href': '/Organization/AddBranch?orgid=' + dataList.orgId,
                        'click': function () {

                        }
                    });

                    $node.find(".control").append(edit);

                    if (dataList.orgType == 1) {
                        $node.find(".control").append(add);
                    }

                    $node.hover(
                        function () {
                            jQuery(this).find(".control").show();
                        }, function () {
                            jQuery(this).find(".control").hide();
                        }
                    );

                }
            });

            var data2 = {};
            var orgId = @ViewBag.TopOrgId
                jQuery.post("/Organization/GetChart", { orgid : orgId}, function (response) {
                    data2.children = [];

                if (response.parent != null) {
                    data2.name = response.parent.organizationName;
                    data2.title = response.parent.industry;
                    data2.orgId = response.parent.organizationID;
                    data2.orgType = response.parent.organizationTypeID;
                    data2.className = "parentBranch parentOrg";

                }

                if (response.branch != null) {
                    var childData = getChildren(response.branch);
                    data2.children = childData;

                }

                orgChart.init({ 'data': data2 });
            }, "json");

            var orgChart = $('#chart-container').orgchart({
                'data': data2,
                'nodeContent': 'title',
                'zoom': true,
                'pan': true,
                'createNode': function ($node, dataList) {
                    if ($node.is('.drill-down')) {
                        var assoClass = dataList.className.match(/parentBranch/)[0];
                        var drillDownIcon = $('<i>', {
                            'class': 'fa fa-arrow-circle-down drill-icon',
                            'click': function () {
                                if (!$('#chart-container').find('.orgchart.' + assoClass).length) {
                                    orgChart.init({ 'data': data2.children[0] });
                                } else {
                                    $('#chart-container').find('.orgchart.' + assoClass).removeClass('hidden');
                                }
                            }
                        });

                    } else if ($node.is('.drill-up')) {
                        var assoClass = dataList.className.match(/asso-\w+/)[0];
                        var drillUpIcon = $('<i>', {
                            'class': 'fa fa-arrow-circle-up drill-icon',
                            'click': function () {
                                $('#chart-container').find('.orgchart:visible').addClass('hidden').end()
                                    .find('.drill-down.' + assoClass).closest('.orgchart').removeClass('hidden');
                            }
                        });
                    }

                }
            });

            jQuery("body").on("submit", "#register-form", function (e) {
                e.preventDefault();
                jQuery(".fa-spinner").removeClass("hide");

                jQuery(".validation-summary-valid ul, .validation-summary-errors ul").html("");
                var data = jQuery(this).serialize();
                jQuery.post("/Account/AjaxRegister", data, function (response) {
                    if (response.succeeded == false) {
                        html = '';
                        jQuery.each(response.errors, function (k, v) {
                            html += '<li>' + v.description + '</li>';
                        });

                        jQuery(".validation-summary-valid ul, .validation-summary-errors ul").html(html);
                        jQuery(".fa-spinner").addClass("hide");

                    } else {
                        jQuery("#registerResultModal .modal-body > div").html("Successfully added a new user.");

                        jQuery("#registerModal").modal("hide");
                        jQuery("#registerResultModal").modal();
                        jQuery("#registerModal input[type='text'], #registerModal input[type='email'], #registerModal input[type='password']").val("");
                        window.location.replace('/Organization/MyLocation?tab=location-users');

                    }
                });

            });
        });
    </script>
}