@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;

    var error = Context.Request.Query["error"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.appName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/css/common.css">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.min.css" />
    <!-- Theme style -->
    <link href="~/lib/bootstrap/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/lib/bootstrap/dist/css/skins/_all-skins.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/css/jquery.Jcrop.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/siteTemp.css">
</head>
<body class="hold-transition login-page forgot-pw-page">
    <div class="overlay"></div>
    <div class="login-box">
        <div class="login-logo">
            <a href="@ViewBag.appLink"><b>@ViewBag.appName</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group m-b25">
                    We'll email you instructions on how to reset your password
                </div>
                <div asp-validation-summary="All" class="text-danger hide"></div>
                <div class="form-group m-b25">

                    <input asp-for="Email" class="form-control" placeholder="Enter email address" />

                    @if (error == "1")
                    {
                        <span class="text-danger field-validation-error"><span id="Email-error" class="">The email address does not exist.</span></span>
                    }
                    
                    <input type="hidden" asp-for="AccessId" />
                </div>
                <button type="submit" class="btn btn-info">Recover Password</button>
                
                @Html.HiddenFor(m => m.AccessId)
            </form>
        </div>

        <p class="text-center m-t10">
            @if (ViewBag.ReturnUrl != null)
            {
                <a href="@ViewBag.ReturnUrl" class="back-button p-l0">Return to login</a>
            }
            else
            {
                <a href="/" class="back-button p-l0">Return to Home</a>
            }
        </p>
        
    </div>
    <footer class="footer">
        <div class="container">
            <div class="col-sm-12 p-t15 p-b15 footer-copyright">
                <span class="text-muted">
                    ©
                    <script type="text/javascript">
                        var d = new Date()
                        document.write(d.getFullYear())
                    </script>
                    <a href="https://www.surecomply.co/">SureComply</a> <small>Pty Ltd ABN 70 619 251 571</small>
                </span>
            </div>
        </div>
    </footer>

</body>
</html>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
